<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css?v=1.1">
  <script type="module" src="js/admin.js"></script>
</head>

<body class="admin">
  <div class="header-top">
            <span class="logo ">
                <img class="logo__img" src="./images/logo6.webp" alt="logo">
            </span>

            
  </div>
  <div id="page">
    <header class="admin_header">
     <p>
       Gabarit Membre
      </p>
      
      {# <p>
        {{ oUtilConn.utilisateur_prenom }} {{ oUtilConn.utilisateur_nom }}
        <a href="membre?entite=utilisateur&action=d" class="a_admin">Déconnecter</a>
      </p> #}
      <nav class="admin_nav">
        <ul >
          {% if oUtilConn.utilisateur_profil == constant('Utilisateur::PROFIL_MEMBRE') %}
          {# <li>
            <hr>
            <a href="admin" class="a_admin">Timbres</a>
          </li>
          <li>
            <a href="admin?entite=pays" class="a_admin">Pays</a>
          </li> #}
          
          {% endif %}
          
        </ul>
      </nav>
    </header>
    <main>

    {{ include(templateMain) }}

    </main>
    </div>
    <footer  class="footer">
        
        <div class="footer-container">
    
            <div class="grid  footer__cols">
                
                <div class="grid-item">
                    <div class=" fullwidth logo-footer">
                        <span class="span-img"><img class="logo__img" src="./images/logo6.webp" alt="logo"></span>
                    </div>
                </div>
                
            </div>
    
            
    
            <div class="footer__sub-nav">
                <a class="footer__sub-nav-item"  href="#">CONDITION GÉNÉRAL DE L'ACHETEUR</a>
                <a class="footer__sub-nav-item" href="#">CONDITION GÉNÉRAL DU VENDEUR</a>
               
            </div>
    
            <p class="footer__copyright">&copy; 2022 Enchères Stampee. Tous les droit réservés.</p>
        </div>
        
        
    </footer>
  
</body>
</html>