<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css?v=1.1">
</head>

<body>
  <header >
        <div class="header-top">
            <span class="logo ">
                <img class="logo__img" src="./images/logo6.webp" alt="logo">
            </span>

            
        </div>
<p>
     Gabarit  Membre-min
      </p>
        
    </header>
  <main>

    {{ include(templateMain) }}

  </main>
  <footer  class="footer">
        
        <div class="footer-container">
    
            <div class="grid  footer__cols">
                
                <div class="grid-item">
                    <div class=" fullwidth logo-footer">
                        <span class="span-img"><img class="logo__img" src="./images/logo6.webp" alt="logo"></span>
                    </div>
                </div>
                
            </div>
    
            
    
            <div class="footer__sub-nav">
                <a class="footer__sub-nav-item"  href="#">CONDITION GÉNÉRAL DE L'ACHETEUR</a>
                <a class="footer__sub-nav-item" href="#">CONDITION GÉNÉRAL DU VENDEUR</a>
               
            </div>
    
            <p class="footer__copyright">&copy; 2022 Enchères Stampee. Tous les droit réservés.</p>
        </div>
        
        
    </footer>
</body>
</html>