<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="author" content="Anna Chumbaieva">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css?v=1.2">
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
  <script type="module" src="js/main.js"></script>
</head>

<body>
  <header >
        <div class="header-top">
            <span class="logo ">
                <img class="logo__img" src="./images/logo6.webp" alt="logo">
            </span>

            <div class="header-titre">
                <h1>Enchères Stampee</h1>
            </div>
            <div class="header-button">

                <div  class="button-profile">
                    <div >
                        <a  href="login"> <img class="medaillon-image-login" src="img/login-lgold.png" alt=""> Login</a>
                    </div>
                    <div >
                        <a  href="creer"> <img class="medaillon-image" src="img/compt-lgold.png" alt=""> Créer un compte</a>
                    </div>    
                </div>

                <form class="search-box">
                    
                    <input type="text" class="search" id="search" placeholder="Recherche"
                        title="Rehercher la plateforme">
                </form>

            </div>
        </div>

        <!-- Navigation -->

        <div class="menu ">

            <nav class="navigation header-bottom">
                <label class="label-toggle" for="toggle">&#9776;</label>
                <input type="checkbox" id="toggle">
                <div class="nav__main-menu menu-burger">
                    <ul>
                        <li class=" "><a href="/git/web1-anna/">Accueil</a></li>
                        <li class="nav_submenu active_link">
                            <a href="liste">Portail des Enchères  &#x23F7;</a>
                            
                            <ul>
                                <li><a href="#">Enchères en cours </a> </li>
                                <li><a href="#">Enchères passées</a></li>
                                <li><a href="#">Suivre une enchère</a></li>
                            </ul>
                        </li>
                        <li class="nav_submenu"><a href="#">Fonctionnement de la plateforme  &#x23F7;</a>
                            <ul>
                                <li><a href="#">Comment placer une offre </a></li>
                                <li><a href="#">Procédures et politiques </a></li>
                                <li><a href="#">Termes et conditions</a> </li>
                                <li><a href="#">Contacter le webmestre</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="#">À Propos Lord Stampee</a></li>

                        <li class="nav_submenu"><a href="#">Contactez-Nous &#x23F7;</a>
                            <ul>
                                <li><a href="#">Angleterre</a></li>
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">USA </a></li>
                                <li><a href="#">Australie</a></li>
                            </ul>
                        </li>
                        <li><a href="creer">Devenir membre</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="acceuil">
        <div class="hero">

            
                <img class="bannier" src="./images/img-stamp/banner5.webp" alt="image orignal">
            
            
            <div class="text-over-image">
                <h1>Bienvenue sur Enchères Stampee</h1>
                
                <a href="liste" class="button"> Voir les enchères</a>
            </div>
        </div>
        <div class="flex-cards">
            <article>
                <a href="#"><img src="./images/img-stamp/philatelist-1844081_960_720.webp" alt="Article 3"></a>
                <h2>Inscrivez-vous pour enchérire</h2>
                <p>Nous proposons une plateforme d'enchères en direct pour donner la possibilité d'enchérir en temps réel.<br>
                Inscrivez, misez, profitez toutes nos services</p>
            
                <a class="button" href="creer">Devenir membre</a>
            </article>
            <article>
                
                <a href="#"><img src="./images/img-stamp/madonna-4699140_1280.webp" alt="Article 3"></a>
                <h2>Évaluation</h2>
                
                <p>
                Si vous avez des questions sur vos timbres, nous pouvons vous aider
                Nous sommes experts dans l'évaluation d'une collection de timbres.
                Confiez-nous.
            </p>
                
                <a class="button" href="#">Commencez évaluation</a>
            </article>
            
            <article>
                <a href="#"><img src="./images/img-stamp/stamps-1218502_960_720.webp" alt="Article 3"></a>
                <h2>Ma collection</h2>
                <p>Gérez, visualisez et évaluez vos timbres en ligne</p>
                
                <a class="button" href="#">Commencer votre collection</a>
            </article>
               
        </div>
  {# <p>
       Gabarit-frontend-accueil
      </p> #}

  {{ include(templateMain) }}

  <h2>Actualité</h2>
        <div class="flex-cards">

            <article>
                
                <a href="#"><img src="./images/img-stamp/pen-1232355_960_720.jpg" alt="Article 3"></a>
                <h2>Calendrier des événements</h2>
                
                <p> Vous trouverez ici une liste des enchères, des événements et des lancements dans un proche avenir
                    </p>
                
                <a class="button" href="#">Consultez</a>
            </article>
            
            <article>
                <a href="#"><img src="./images/img-stamp/philatelist-1844078_1280.webp" alt="Article 3"></a>
                <h2>Timbres du Commonwealth britannique</h2>
                <p>Timbres de la plus haute qualité.</p>
                <p>Découvrez notre vaste collection de timbres du Commonwealth.</p>
            
                <a class="button" href="#">Explorer</a>
            </article>
            <article>
                <a href="#"><img src="./images/img-stamp/postage-stamps-3081917_1280.webp" alt="Article 3"></a>
                <h2>Nouvelle édition</h2>
                <p>Timbres du monde 2023</p>
                <p>8-12 novembre</p>
            
                <a class="button" href="#">Savoir plus</a>
            </article>
           

            
        </div>
        <section class="img-right-of-text">
            <div class="img-right-of-text__content text">
                <h3>Lord Reginald Stampee III</h3>
                <p>Est né le 6 août 1950 à Londres est un des plus célèbres philatélistes anglais.<br>

                    Ses collections de timbres ont été les plus complètes connues pour l'époque classique (timbres émis avant 1900), avec une passion pour les émissions d'avant 1870. Elles ont notamment concerné les provinces canadiennes et la Confédération du Canada, la Suisse, la colonie du Cap, Ceylan, le Gambie, Maurice, l'Argentine et l'Uruguay. Pour l'histoire postale des États-Unis, sa collection est une référence pour les affranchissements dans l'Ouest du pays.<br>
                    
                    Membre actif du Collectors Club of New York, Theodore Steinway et lui ont permis le développement de cette association. Juge international pendant trois décennies, il est le commissaire des expositions philatéliques internationales de 1980...
                     <!-- En mars 1985 à New York, Theodore Steinway, plusieurs philatélistes et lui fondent la Philatelic Foundation, institution éducative à but non lucratif qui se donne pour but des travaux d'expertise, de recherches et de publications philatéliques. Ses collections et celles de sa fille ont été dispersés par la maison aux enchères Harmer's entre 1968 et 1971, 1989 et 1992 et en 1997.
                     Les timbres sont sa passion et Lord Stampee veut offrir au reste du monde cette passion via sa plateforme.
                     « Pour le vrai Philatéliste, il n'y a que 3 événements qui comptent : chercher, avoir et classer. » - Lord Stampee -->
                    </p>
                    <a class="button vedette__boutton" href="#">Lire la suite</a>

            </div>
            <div class="img-right-of-text__content  ">
                <img class="img-right" src="./images/img-stamp/marc-andreStampee-whiteBckgrnd.jpg" alt="linx">
                
            </div>
        </section>
        <div class="hero">
            <img class="bannier" src="./images/img-stamp/banner2.webp" alt="image orignal">
            <div class="text-over-image">
                <h1>Tenez-vous au courant des dernières actualités d'enchère.</h1>
                <a href="creer" class="button">Devenir membre</a>
            </div>
        </div>
    </main>

  <footer  class="footer">
        <nav class="footer__nav">
            <a class="footer__link"  href="liste">Nouveaux timbres</a>
            <a class="footer__link"  href="#">Livraison & Retours</a>
            <a class="footer__link"  href="#">Service clienteles</a>
            <a class="footer__link"  href="#">Termes et conditions</a>
            <a class="footer__link"  href="#">Évaluations</a>
            
        </nav>
        <div class="footer-container">
    
            <div class="grid  footer__cols">
                <div class="grid-item">
                    <div class=" fullwidth">
                        <h2>Créer un compte </h2>
                        <p>Créez un compte pour profiter de listes de souhaites, nouveauté et plus encore...</p>
                        <p><a class="button" href="creer">S'INSCRIRE</a></p>
                        <p><a class="button" href="login">CONNECTE</a></p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class=" fullwidth logo-footer">
                        <span class="span-img"><img class="logo__img" src="./images/logo6.webp" alt="logo"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class=" fullwidth">
                        <h2>Contactez-Nous</h2>
                        <p>08:30 am - 5:00 pm (Mon-Fri)</p>
                        <p> +1 (514) 425 72 63</p>
                        <p>encheresStampee@gmail.com </p>
                        <p><a class="button" href="#">Contactez-Nous</a></p>
                    </div>
                </div>
            </div>
    
            <div class="social">
                <a class="social__link"  href="#">
                    <img  src="images/facebook-gold-red.png" width="30" height="30" alt="Facebook">
                </a>
                <a class="social__link"  href="#">
                    <img  src="images/twiter-goldred.png" width="34" height="34" alt="Twitter">
                </a>
                <a class="social__link"  href="#">
                    <img  src="images/insta-golg-red.png" width="36" height="36" alt="Instagram">
                </a>
                <a class="social__link"  href="#">
                    <img src="images/web-red-gold.png" width="30" height="30" alt="web">
                </a>
            </div>
    
            <div class="footer__sub-nav">
                <a class="footer__sub-nav-item"  href="#">CONDITION GÉNÉRAL DE L'ACHETEUR</a>
                <a class="footer__sub-nav-item" href="#">CONDITION GÉNÉRAL DU VENDEUR</a>
               
            </div>
    
            <p class="footer__copyright">&copy; 2022 Enchères Stampee. Tous les droit réservés.</p>
        </div>
        
        
    </footer>
</body>
</html>