<section>
{# <p>
      vMembreConfirmMise
      </p> #}

      <div class="hero">

            
                <img class="bannier" src="./images/img-stamp/banner2.webp" alt="image orignal">
            
            
            <div class="text-over-image">
                <h1>{{ message|upper }}</h1>
                <h1>&nbsp;{{ erreurs.mise_invalid }}</h1>
                <a href="listeEncheres" class="button"> Revenir aux encheres</a>
                <a  href="deconnecter" class="button">Deconnecter</a>
            </div>
        </div>
 
   {# <h2>{{ message|upper }}</h2>
   <h2>&nbsp;{{ erreurs.mise_invalid }}</h2>
    
    <a  href="listeEncheres" class="button">Revenir aux encheres</a>
     <a  href="deconnecter" class="button">Deconnecter</a> #}
    
</section>