<section class="connecter">
  <h1>{{ titre|upper }}</h1>
  {# <p>
       vAdminUtilisateurConnecter
      </p> #}
  <form method="POST" action="login">

    <br><span>&nbsp;{{ messageErreurConnexion }}</span>

    <label>Courriel</label>
    <input name="utilisateur_courriel" value="">
    
    <label>Mot de passe</label>
    <input type="password" name="utilisateur_mdp" value="">
  
    <input type="submit" value="Envoyer">

</form>
<div class="admin-button">
<a  href="creer" class="button buttonAdmin">Creer un compte</a>
<a href="/git/web1-anna/" class="button buttonAdmin"> Revenir sur accueil</a>
</div>
  </div>
</section>